.descricao {
  background: #ffff;
  padding: 4.2rem 3.2rem 2.2rem;
}

.descricao__titulo {
  color: var(--var-Azul-acizentado-escuro);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.3px;
  padding-bottom: 1.3rem;
}

.descricao__texto {
  color: var(--var-Azul-escuro);
  font-size: 1.2rem;
  letter-spacing: 0.7px;
  line-height: 1.6;
}

@media screen and (min-width: 820px) {
  .descricao {
    border-top: 3.2rem;
    border-top-right-radius: 1.5rem;
    padding-left: 4.5rem;
    padding-top: 3.2rem;
  }

  .descricao__titulo {
    font-size: 2rem;
    line-height: 1.3;
  }
}
