:root{
    --var-color-Azul-acizentado-escuro:hsl(217, 19%, 35%);
    --var-color-Azul-escuro:hsl(214, 17%, 51%);
    --var-color-Azul-acizentado:hsl(212, 23%, 69%);
    --var-color-Azul-acizentado-claro:hsl(210, 46%, 95%);
}